:root {
  --border-radius: 4px;
  --transition-duration: 0.2s;
  --navigation-button-size: 48px;
  --drawer-default-width: 300px;
  --drawer-width: min(var(--drawer-default-width), 100vw);
  --accent-color: #039E8F;
  --drawer-background: #F0F0F0;
  --drawer-background-dark: #101010;
  --hover-background: #C0C0C0;
  --hover-background-dark: #404040;
}

body {
  font-family: "Open Sans", sans-serif;
}

.dark-theme,
.dark-theme * {
  color: white;
  transition: color var(--transition-duration), background-color var(--transition-duration);
}

body.dark-theme {
  background-color: black;
}

.unselectable {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#navigation-button {
  width: var(--navigation-button-size);
  height: var(--navigation-button-size);
  border-bottom-right-radius: var(--border-radius);
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--drawer-background);
}

.dark-theme #navigation-button {
  background-color: var(--drawer-background-dark);
}

#navigation-button:hover {
  background-color: var(--hover-background);
}

.dark-theme #navigation-button:hover {
  background-color: var(--hover-background-dark);
}

@media (min-width: 768px) {
  #navigation-button {
    display: none;
  }
}

#drawer {
  width: var(--drawer-width);
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  margin-left: 0px;
  background-color: var(--drawer-background);
  transition-property: margin-left, box-shadow;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: max(2rem, calc(var(--navigation-button-size) / 2));
  padding-left: calc(var(--drawer-width) / 16);
  padding-right: calc(var(--drawer-width) / 16);
  padding-bottom: 2rem;
}

.dark-theme #drawer {
  background-color: var(--drawer-background-dark);
}

@media (max-width: 767px) {
  #drawer {
    box-shadow: 0px 0px 16px gray;
  }

  #drawer.drawer-collapsed {
    margin-left: calc(0px - var(--drawer-width));
    box-shadow: none;
  }
}

#drawer-logo {
  max-width: 50%;
}

#drawer>hr {
  width: 100%;
}

#drawer-tabs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-self: start;
  align-self: stretch;
}

#drawer-tabs>* {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.6rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
}

#drawer-tabs>.drawer-tab-active {
  border-left: 5px solid var(--accent-color);
  padding-left: calc(0.6rem - 5px);
}

#drawer-tabs>*:hover {
  background-color: var(--hover-background);
}

.dark-theme #drawer-tabs>*:hover {
  background-color: var(--hover-background-dark);
}

.setting-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.setting-header {
  font-size: 1.2rem;
  padding: 0.6rem;
}

.setting-item {
  font-size: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.setting-item>:first-child {
  flex: 0 0 3rem;
  text-align: center;
}

.setting-item>* {
  flex: 1 1 auto;
  justify-self: stretch;
}

#theme-icon {
  transition: transform var(--transition-duration);
}

:hover>#theme-icon {
  transform: scale(1.2);
}

.main-page {
  width: 100vw;
  height: 100%;
  z-index: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .main-page {
    width: calc(100vw - var(--drawer-default-width));
  }
}

.main-page.main-page-active {
  display: block;
}

#mapbox-container {
  width: 100%;
  height: 100%;
}

#about-page {
  padding: 2rem;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  #about-page {
    padding-top: max(2rem, var(--navigation-button-size));
  }
}

#about-page>* {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
